<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--=============== BOXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.4/css/boxicons.min.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="E:\github\Halloween\css\FirstPage.css">

    <title>Halloween website</title>
</head>

<body>
    <!--==================== HEADER ====================-->
    <header class="header" id="header">
        <nav class="container">
            <a href="#" class="logo">Hall<span>oween</span></a>
            <div class="links">
                <ul>
                    <li>
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    <li>
                        <a href="#about" class="nav-link">About</a>
                    </li>
                    <li>
                        <a href="#steps" class="nav-link">Steps</a>
                    </li>
                    <li>
                        <a href="#products" class="nav-link">Products</a>
                    </li>
                    <li>
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
            <a href="E:\github\Halloween\views\SecondPage.html">
            <button class="header-button">Login</button>
            </a>
        </nav>
    </header>

    <main class="main">
        <!--==================== HOME ====================-->
        <section class="home" id="home">
            <div class="home__container container grid">
                <img src="E:\github\Halloween\img\category2-img.png" alt="" class="home__img">

                <div class="home__data">
                    <h1 class="home__title">
                        Halloween <br> IS COMINGGG!
                    </h1>
                    <p class="home__description">
                        Choose your own lovely stuff to prepare for halloween's day!, Beware of GHOST--WHOOOO!~
                    </p>
                    <a href="./SecondPage.html" class="button button--flex">
                        Explore <i class='bx bx-chevrons-right'></i>
                    </a>
                </div>

                <div class="home__social">
                    <span class="home__social-follow">Follow Us</span>

                    <div class="home__social-links">
                        <a href="https://www.facebook.com/truongan.pham.3344913" target="_blank" class="home__social-link">
                            <i class='bx bxl-facebook' id="facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/ig.1lu/" target="_blank" class="home__social-link">
                            <i class="bx bxl-instagram" id="instagram"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCQlb_42LS6TUJf9bOYFWdoQ   " target="_blank" class="home__social-link">
                            <i class='bx bxl-youtube' id="youtube"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== ABOUT ====================-->
        <section class="about section container" id="about">
            <div class="about__container grid">
                <img src="../img/about-img.png" alt="" class="about__img">

                <div class="about__data">
                    <h2 class="section__title about__title">
                        Who we really are & <br> why choose us
                    </h2>

                    <p class="about__description">
                        We have over 4000+ unbiased reviews and our customers
                        trust our product process and delivery service every time
                    </p>

                    <div class="about__details">
                        <p class="about__details-description">
                            <i class='bx bx-check-circle'></i>
                            We always deliver on time.
                        </p>
                        <p class="about__details-description">
                            <i class='bx bx-check-circle'></i>
                            We give you guides to protect and care for your halloween savely.
                        </p>
                        <p class="about__details-description">
                            <i class='bx bx-check-circle'></i>
                            We always come over for a check-up after sale.
                        </p>
                        <p class="about__details-description">
                            <i class='bx bx-check-circle'></i>
                            100% money back guaranteed.
                        </p>
                    </div>

                    <a href="./SecondPage.html" class="button--link button--flex">
                        Shop Now <i class='bx bx-chevrons-right'></i>
                    </a>
                </div>
            </div>
        </section>

        <!--==================== STEPS ====================-->
        <section class="steps section container">
            <div class="steps__bg" id="steps">
                <h2 class="section__title-center steps__title">
                    Steps to start your <br> Halloween off right
                </h2>

                <div class="steps__container grid">
                    <div class="steps__card">
                        <div class="steps__card-number">01</div>
                        <h3 class="steps__card-title">Choose Product</h3>
                        <p class="steps__card-description">
                            We have several high-quality stuff you can choose from.
                        </p>
                    </div>

                    <div class="steps__card">
                        <div class="steps__card-number">02</div>
                        <h3 class="steps__card-title">Place an order</h3>
                        <p class="steps__card-description">
                            Once your order is set, we move to the next step which is the shipping.
                        </p>
                    </div>

                    <div class="steps__card">
                        <div class="steps__card-number">03</div>
                        <h3 class="steps__card-title">Get Halloween started</h3>
                        <p class="steps__card-description">
                            Our delivery process is easy, you receive the product direct to your door.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== PRODUCTS ====================-->
        <section class="product section container" id="products">
            <h2 class="section__title-center">
                Check out our <br> products
            </h2>

            <p class="product__description">
                Here are some selected SpookyProduct from our showroom, all are in excellent
                shape and will bring you best experience on Spooky Day. Buy and enjoy best quality.
            </p>

            <div class="product__container grid">
                <article class="product__card">
                    <div class="product__circle"></div>

                    <img src="E:\github\Halloween\img\trick-treat1-img.png" alt="" class="product__img">

                    <h3 class="product__title">Toffee</h3>
                    <span class="product__price">$11.99</span>

                    <button class="button--flex product__button">
                        <i class='bx bx-cart'></i>
                    </button>
                </article>

                <article class="product__card">
                    <div class="product__circle"></div>

                    <img src="E:\github\Halloween\img\trick-treat2-img.png" alt="" class="product__img">

                    <h3 class="product__title">Bone</h3>
                    <span class="product__price">$8.99</span>

                    <button class="button--flex product__button">
                        <i class='bx bx-cart'></i>
                    </button>
                </article>

                <article class="product__card">
                    <div class="product__circle"></div>

                    <img src="E:\github\Halloween\img\trick-treat3-img.png" alt="" class="product__img">

                    <h3 class="product__title">Scarecrow</h3>
                    <span class="product__price">$15.99</span>

                    <button class="button--flex product__button">
                        <i class='bx bx-cart'></i>
                    </button>
                </article>

                <article class="product__card">
                    <div class="product__circle"></div>

                    <img src="E:\github\Halloween\img\trick-treat4-img.png" alt="" class="product__img">

                    <h3 class="product__title">Candy Cane</h3>
                    <span class="product__price">$7.99</span>

                    <button class="button--flex product__button">
                        <i class='bx bx-cart'></i>
                    </button>
                </article>

                <article class="product__card">
                    <div class="product__circle"></div>

                    <img src="E:\github\Halloween\img\trick-treat5-img.png" alt="" class="product__img">

                    <h3 class="product__title">Pumpkin</h3>
                    <span class="product__price">$19.99</span>

                    <button class="button--flex product__button">
                        <i class='bx bx-cart'></i>
                    </button>
                </article>

                <article class="product__card">
                    <div class="product__circle"></div>

                    <img src="E:\github\Halloween\img\trick-treat6-img.png" alt="" class="product__img">

                    <h3 class="product__title">Ghost</h3>
                    <span class="product__price">$17.99</span>

                    <button class="button--flex product__button">
                        <i class='bx bx-cart'></i>
                    </button>
                </article>
            </div>
        </section>

        <!--==================== QUESTIONS ====================-->
        <section class="questions section" id="faqs">
            <h2 class="section__title-center questions__title container">
                Some common questions <br> were often asked
            </h2>

            <div class="questions__container container grid">
                <div class="questions__group">
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class='bx bx-plus'></i>
                            <h3 class="questions__item-title">
                                How long will it ship to me?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Really depend on where do you live, But often in 5 or 6 days after you buy our stuff!
                            </p>
                        </div>
                    </div>

                    <div class="questions__item">
                        <header class="questions__header">
                            <i class='bx bx-plus'></i>
                            <h3 class="questions__item-title">
                                How easy was it to complete your purchase?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Well if you be patience in just 10 to 20 minutes to choose, pay and you are done!
                            </p>
                        </div>
                    </div>

                    <div class="questions__item">
                        <header class="questions__header">
                            <i class='bx bx-plus'></i>
                            <h3 class="questions__item-title">
                                Can i check product before paying that??!?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Absolutely, if you have any problem just contact to the website for some help or return
                            </p>
                        </div>
                    </div>
                </div>

                <div class="questions__group">
                    <div class="questions__item">
                        <header class="questions__header">
                            <i class='bx bx-plus'></i>
                            <h3 class="questions__item-title">
                                What if the product doesn't look like what is in the picture?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Hm, tough question and easy question for us. But we are 100% you gonna have your product that you are looking for
                            </p>
                        </div>
                    </div>

                    <div class="questions__item">
                        <header class="questions__header">
                            <i class='bx bx-plus'></i>
                            <h3 class="questions__item-title">
                                Does Your Company just making halloween stuff or ...?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                NO, we are planning to build so much more for out costumer, for our lover but we just need time
                            </p>
                        </div>
                    </div>

                    <div class="questions__item">
                        <header class="questions__header">
                            <i class='bx bx-plus'></i>
                            <h3 class="questions__item-title">
                                How long to make 1 website?
                            </h3>
                        </header>

                        <div class="questions__content">
                            <p class="questions__description">
                                Depend on how hard it is, typically 1 week to 1 month
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--==================== CONTACT ====================-->
        <section class="contact section container" id="contact">
            <div class="contact__container grid">
                <div class="contact__box">
                    <h2 class="section__title">
                        Reach out to us today <br> via any of the given <br> information
                    </h2>

                    <div class="contact__data">
                        <div class="contact__information">
                            <h3 class="contact__subtitle">Call us for instant support</h3>
                            <span class="contact__description">
                                <i class="ri-phone-line contact__icon"></i>
                                +84849130507
                            </span>
                        </div>

                        <div class="contact__information">
                            <h3 class="contact__subtitle">Write us by mail</h3>
                            <span class="contact__description">
                                <i class="ri-mail-line contact__icon"></i>
                                phamductruongan@gmail.com
                            </span>
                        </div>
                    </div>
                </div>

                <form action="" class="contact__form">
                    <div class="contact__inputs">
                        <div class="contact__content">
                            <input type="email" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Email</label>
                        </div>

                        <div class="contact__content">
                            <input type="text" placeholder=" " class="contact__input">
                            <label for="" class="contact__label">Subject</label>
                        </div>

                        <div class="contact__content contact__area">
                            <textarea name="message" placeholder=" " class="contact__input"></textarea>
                            <label for="" class="contact__label">Message</label>
                        </div>
                    </div>

                    <button class="button button--flex">
                        Send Message
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </form>
            </div>
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer section">
        <div class="footer__container container grid">
            <div class="footer__content">
                <a href="#" class="logo">Hallo<span>ween</span></a>

                <h3 class="footer__title">
                    Subscribe to our newsletter <br> to stay update
                </h3>

                <div class="footer__subscribe">
                    <input type="email" placeholder="Enter your email" class="footer__input">

                    <button class="button button--flex footer__button">
                        Subscribe
                        <i class="ri-arrow-right-up-line button__icon"></i>
                    </button>
                </div>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Our Address</h3>

                <ul class="footer__data">
                    <li class="footer__information">138 Nguyen Truong To, Tan Thanh, Tan Phu</li>
                    <li class="footer__information">Ho Chi Minh city</li>
                    <li class="footer__information">0849130507</li>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">Contact Us</h3>

                <ul class="footer__data">
                    <li class="footer__information">phamductruongan@gmail.com</li>

                    <div class="footer__social">
                        <a href="https://www.facebook.com/truongan.pham.3344913" class="footer__social-link">
                            <i class='bx bxl-facebook' id="facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/ig.1lu/" class="footer__social-link">
                            <i class='bx bxl-instagram' id="instagram"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCQlb_42LS6TUJf9bOYFWdoQ" class="footer__social-link">
                            <i class="bx bxl-youtube" id="youtube"></i>
                        </a>
                    </div>
                </ul>
            </div>

            <div class="footer__content">
                <h3 class="footer__title">
                    We accept all credit cards
                </h3>
            </div>
        </div>

        <p class="footer__copy">We Almost There!</p>
    </footer>

    <!--=============== MAIN JS ===============-->
    <script src="E:\github\Halloween\js\FirstPage.js"></script>
</body>

</html>